parametersSchema:
    pestPhpstanTypedThis: structure([
        testCaseClass: string()
        parsePestPropertyTags: bool()
        parsePhpDocProperties: bool()
        parseAssignments: bool()
        parseUses: bool()
        parseParentUses: bool()
        expectationPropertyAccess: bool()
        expectationSequenceTypes: bool()
        expectationScopedTypes: bool()
        simplifyToBe: bool()
        simplifyToBeNull: bool()
        simplifyToBeEmpty: bool()
        simplifyToHaveCount: bool()
        simplifyToHaveLength: bool()
    ])

parameters:
    pestPhpstanTypedThis:
        testCaseClass: PHPUnit\Framework\TestCase
        parsePestPropertyTags: false
        parsePhpDocProperties: false
        parseAssignments: true
        parseUses: true
        parseParentUses: true
        expectationPropertyAccess: true
        expectationSequenceTypes: false
        expectationScopedTypes: false
        # Rules
        simplifyToBe: true
        simplifyToBeNull: true
        simplifyToBeEmpty: true
        simplifyToHaveCount: true
        simplifyToHaveLength: true

    #universalObjectCratesClasses:
    #    - Pest\Support\HigherOrderTapProxy

services:
    phpParserFactory:
        class: PhpParser\ParserFactory

    -
        class: PhpParser\Parser
        factory: @phpParserFactory::createForNewestSupportedVersion

    -
        class: PhpParser\NodeFinder

    -
        class: ImSuperlative\PestPhpstanTypedThis\TypedThis\PestFileLocator
        arguments:
            currentWorkingDirectory: %currentWorkingDirectory%

    -
        class: ImSuperlative\PestPhpstanTypedThis\TypedThis\PestFileCacheMetaExtension
        arguments:
            currentWorkingDirectory: %currentWorkingDirectory%
        tags:
            - phpstan.resultCacheMetaExtension

    -
        class: ImSuperlative\PestPhpstanTypedThis\TypedThis\UsesParser

    -
        class: ImSuperlative\PestPhpstanTypedThis\Parser\TypeStringParser

    -
        class: ImSuperlative\PestPhpstanTypedThis\Parser\TypeResolver

    -
        class: ImSuperlative\PestPhpstanTypedThis\Parser\PestPropertyTagParser

    -
        class: ImSuperlative\PestPhpstanTypedThis\Parser\PhpDocPropertyParser

    -
        class: ImSuperlative\PestPhpstanTypedThis\Parser\AssignmentInferenceParser
        arguments:
            testCaseClass: %pestPhpstanTypedThis.testCaseClass%

    pestFilePropertyParserFactory:
        class: ImSuperlative\PestPhpstanTypedThis\TypedThis\FilePropertyParserFactory
        arguments:
            parsePestPropertyTags: %pestPhpstanTypedThis.parsePestPropertyTags%
            parsePhpDocProperties: %pestPhpstanTypedThis.parsePhpDocProperties%
            parseAssignments: %pestPhpstanTypedThis.parseAssignments%

    -
        class: ImSuperlative\PestPhpstanTypedThis\TypedThis\FilePropertyParser
        factory: @pestFilePropertyParserFactory::create

    -
        class: ImSuperlative\PestPhpstanTypedThis\TypedThis\ClosureThisExtension
        arguments:
            testCaseClass: %pestPhpstanTypedThis.testCaseClass%
            parseUses: %pestPhpstanTypedThis.parseUses%
            parseParentUses: %pestPhpstanTypedThis.parseParentUses%
        tags:
            - phpstan.functionParameterClosureThisExtension

    pestExpectFunctionReturnType:
        class: ImSuperlative\PestPhpstanTypedThis\Expectation\ExpectFunctionReturnTypeExtension

    -
        class: ImSuperlative\PestPhpstanTypedThis\Expectation\MethodExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    pestExpectationPropertyExtension:
        class: ImSuperlative\PestPhpstanTypedThis\Expectation\PropertyExtension

    -
        class: ImSuperlative\PestPhpstanTypedThis\Expectation\DynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: ImSuperlative\PestPhpstanTypedThis\Expectation\HigherOrderDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: ImSuperlative\PestPhpstanTypedThis\Expectation\SequenceClosureTypeExtension

    -
        class: ImSuperlative\PestPhpstanTypedThis\Expectation\ScopedClosureTypeExtension

    -
        class: ImSuperlative\PestPhpstanTypedThis\Rules\AssertionCanBeSimplified\ToBeBooleanRule

    -
        class: ImSuperlative\PestPhpstanTypedThis\Rules\AssertionCanBeSimplified\ToBeNullRule

    -
        class: ImSuperlative\PestPhpstanTypedThis\Rules\AssertionCanBeSimplified\ToHaveCountZeroRule

    -
        class: ImSuperlative\PestPhpstanTypedThis\Rules\AssertionCanBeSimplified\ToBeEmptyRule

    -
        class: ImSuperlative\PestPhpstanTypedThis\Rules\AssertionCanBeSimplified\ToHaveLengthZeroRule

conditionalTags:
    ImSuperlative\PestPhpstanTypedThis\Rules\AssertionCanBeSimplified\ToBeBooleanRule:
        phpstan.rules.rule: %pestPhpstanTypedThis.simplifyToBe%
    ImSuperlative\PestPhpstanTypedThis\Rules\AssertionCanBeSimplified\ToBeNullRule:
        phpstan.rules.rule: %pestPhpstanTypedThis.simplifyToBeNull%
    ImSuperlative\PestPhpstanTypedThis\Rules\AssertionCanBeSimplified\ToHaveCountZeroRule:
        phpstan.rules.rule: %pestPhpstanTypedThis.simplifyToHaveCount%
    ImSuperlative\PestPhpstanTypedThis\Rules\AssertionCanBeSimplified\ToBeEmptyRule:
        phpstan.rules.rule: %pestPhpstanTypedThis.simplifyToBeEmpty%
    ImSuperlative\PestPhpstanTypedThis\Rules\AssertionCanBeSimplified\ToHaveLengthZeroRule:
        phpstan.rules.rule: %pestPhpstanTypedThis.simplifyToHaveLength%
    ImSuperlative\PestPhpstanTypedThis\Expectation\ExpectFunctionReturnTypeExtension:
        phpstan.broker.dynamicFunctionReturnTypeExtension: %pestPhpstanTypedThis.expectationPropertyAccess%
    ImSuperlative\PestPhpstanTypedThis\Expectation\PropertyExtension:
        phpstan.broker.propertiesClassReflectionExtension: %pestPhpstanTypedThis.expectationPropertyAccess%
    ImSuperlative\PestPhpstanTypedThis\Expectation\SequenceClosureTypeExtension:
        phpstan.methodParameterClosureTypeExtension: %pestPhpstanTypedThis.expectationSequenceTypes%
    ImSuperlative\PestPhpstanTypedThis\Expectation\ScopedClosureTypeExtension:
        phpstan.methodParameterClosureTypeExtension: %pestPhpstanTypedThis.expectationScopedTypes%
