parametersSchema:
    pestPhpstanTypedThis: structure([
        testCaseClass: string()
        parsePestPropertyTags: bool()
        parsePhpDocProperties: bool()
        parseAssignments: bool()
        parseUses: bool()
        parseParentUses: bool()
        expectationPropertyAccess: bool()
    ])

parameters:
    pestPhpstanTypedThis:
        testCaseClass: PHPUnit\Framework\TestCase
        parsePestPropertyTags: false
        parsePhpDocProperties: false
        parseAssignments: true
        parseUses: true
        parseParentUses: true
        expectationPropertyAccess: true

    #universalObjectCratesClasses:
    #    - Pest\Support\HigherOrderTapProxy

services:
    phpParserFactory:
        class: PhpParser\ParserFactory

    -
        class: PhpParser\Parser
        factory: @phpParserFactory::createForNewestSupportedVersion

    -
        class: PhpParser\NodeFinder

    -
        class: ImSuperlative\PestPhpstanTypedThis\TypedThis\PestFileLocator
        arguments:
            currentWorkingDirectory: %currentWorkingDirectory%

    -
        class: ImSuperlative\PestPhpstanTypedThis\TypedThis\PestFileCacheMetaExtension
        arguments:
            currentWorkingDirectory: %currentWorkingDirectory%
        tags:
            - phpstan.resultCacheMetaExtension

    -
        class: ImSuperlative\PestPhpstanTypedThis\TypedThis\UsesParser

    -
        class: ImSuperlative\PestPhpstanTypedThis\Parser\TypeStringParser

    -
        class: ImSuperlative\PestPhpstanTypedThis\Parser\TypeResolver

    -
        class: ImSuperlative\PestPhpstanTypedThis\Parser\PestPropertyTagParser

    -
        class: ImSuperlative\PestPhpstanTypedThis\Parser\PhpDocPropertyParser

    -
        class: ImSuperlative\PestPhpstanTypedThis\Parser\AssignmentInferenceParser
        arguments:
            testCaseClass: %pestPhpstanTypedThis.testCaseClass%

    pestFilePropertyParserFactory:
        class: ImSuperlative\PestPhpstanTypedThis\TypedThis\FilePropertyParserFactory
        arguments:
            parsePestPropertyTags: %pestPhpstanTypedThis.parsePestPropertyTags%
            parsePhpDocProperties: %pestPhpstanTypedThis.parsePhpDocProperties%
            parseAssignments: %pestPhpstanTypedThis.parseAssignments%

    -
        class: ImSuperlative\PestPhpstanTypedThis\TypedThis\FilePropertyParser
        factory: @pestFilePropertyParserFactory::create

    -
        class: ImSuperlative\PestPhpstanTypedThis\TypedThis\ClosureThisExtension
        arguments:
            testCaseClass: %pestPhpstanTypedThis.testCaseClass%
            parseUses: %pestPhpstanTypedThis.parseUses%
            parseParentUses: %pestPhpstanTypedThis.parseParentUses%
        tags:
            - phpstan.functionParameterClosureThisExtension

    pestExpectFunctionReturnType:
        class: ImSuperlative\PestPhpstanTypedThis\Expectation\ExpectFunctionReturnTypeExtension

    -
        class: ImSuperlative\PestPhpstanTypedThis\Expectation\MethodExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    pestExpectationPropertyExtension:
        class: ImSuperlative\PestPhpstanTypedThis\Expectation\PropertyExtension

    -
        class: ImSuperlative\PestPhpstanTypedThis\Expectation\DynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: ImSuperlative\PestPhpstanTypedThis\Expectation\HigherOrderDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: ImSuperlative\PestPhpstanTypedThis\Rules\AssertionCanBeSimplified\ToBeBooleanRule
        tags:
            - phpstan.rules.rule

    -
        class: ImSuperlative\PestPhpstanTypedThis\Rules\AssertionCanBeSimplified\ToBeNullRule
        tags:
            - phpstan.rules.rule

    -
        class: ImSuperlative\PestPhpstanTypedThis\Rules\AssertionCanBeSimplified\ToHaveCountZeroRule
        tags:
            - phpstan.rules.rule

    -
        class: ImSuperlative\PestPhpstanTypedThis\Rules\AssertionCanBeSimplified\ToBeEmptyRule
        tags:
            - phpstan.rules.rule

    -
        class: ImSuperlative\PestPhpstanTypedThis\Rules\AssertionCanBeSimplified\ToHaveLengthZeroRule
        tags:
            - phpstan.rules.rule

conditionalTags:
    ImSuperlative\PestPhpstanTypedThis\Expectation\ExpectFunctionReturnTypeExtension:
        phpstan.broker.dynamicFunctionReturnTypeExtension: %pestPhpstanTypedThis.expectationPropertyAccess%
    ImSuperlative\PestPhpstanTypedThis\Expectation\PropertyExtension:
        phpstan.broker.propertiesClassReflectionExtension: %pestPhpstanTypedThis.expectationPropertyAccess%